# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore the virtual environment folder
venv/

# Ignore the development area
app/demo.py

# Ignore the legacy area
app/legacy.py

# Ignore sudoku/archive/
/archive/
